.text-over-image {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-80%, -50%);
    color: white;
}

.macbook-over-image {
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
  }